<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    
    <title>Capo Di Capi</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <!-- header -->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 p-10">
                        <h1>Capo Di Capi</h1>
                    </div>
                    <div class=" alert alert-primary col-md-3 mtop-5"  id="box" role="alert">
                        <p class="" id="status"></p>
                    </div>

                    <div class="col-md-5 form-inline">
                        <div class="form-group mx-sm-2 mb-2">
                            <label for="inputPassword2" class="sr-only">Password</label>
                            <input type="text" class="form-control" id="userSearch" placeholder="name of user">
                            
                        </div>
                        <button type="submit" id="searchBtn" class="btn btn-primary mb-2">HISTORY & LOGS</button>
                        
                    </div>

    
                </div>

                <hr>
            </div>

            <!-- main chat room -->
            <div class="col-md-12">
                <div class="row">
                    <!-- profile view -->
                    <div class="col-md-5">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 text-center p-10" style="padding-bottom: 20px;">
                                    <!-- profile picture -->
                                    <img src="images.png" alt="no images" style="border-radius: 25px;">
                                    <span class="status"></span>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-row align-items-center">
                                        <div class="col-md-12  text-center">
                                            <h3 class="text-center">Choose A Nickname</h1>
                                        </div>
                                        <div class="col-md-5 my-1" style="margin-left: 85px;">
                                            <input type="text" class="form-control" name="username" id="username">
                                        </div>
                                        <div class="col-auto my-1">
                                            <button class="btn btn-primary" id="usernameSend">NICKNAME</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center" style="padding-top:10px;">
                                    <button class="btn btn-primary" id="room1" style="margin-top:5px;" value="Community Focus">Community Spot</button>
                                    <button class="btn btn-primary" id="room2" style="margin-top:5px;" value="Cranium Focus">Cranium Focus</button>
                                    <button class="btn btn-primary" id="room3" style="margin-top:5px;" value="Team Territory">Team Territory</button>
                                    <button class="btn btn-primary" id="room4" style="margin-top:5px;" value="Bored Room">Bored Room</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- chat view -->
                    <div class="col-md-7" >
                        <div class="col-md-12 chatFrame">
                            <div class="row">

                                <div class="col-md-12" id="chatroom" aria-placeholder="start chatting with your friends">
                                    <div id="feedback"></div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-row align-items-center">
                                        <div class="col-md-10 my-1">
                                            <input type="text" class="form-control" id="message"
                                                placeholder="Type your message...">
                                        </div>
                                        <div class="col-auto my-1">
                                            <button type="submit" class="btn btn-primary" id="messageSend">SEND</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-2">
                        <div class="col-md-12 p-10" id='onlineUser' style="background-color:chocolate;">

                        </div>
                    </div> -->

                </div>
            </div>

            <!-- footer -->
            <div class="col-md-12">
                <hr>
                <p class="text-center">&#169;Capo Di Capi-2020</p>
            </div>

            <div class="col-md-6 historyLogTable" id='historyTable' style="display: none;">
                <div class="row">
                    
                    <div class="col-md-12" >
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button> -->
                         <span style="margin-left:190px; font-size:18px;"><b>Only First 10 Records</b></span>
                         <span><button class="btn btn-danger" id="closebtn" 
                            style="border-radius: 5px; margin-left:160px; margin-bottom:5px;">CLOSE</button></span>
                        
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="row"></div> 
                            <div class="col-md-4 btn btn-primary" id="chatbtn">CHATS</div>
                            <div class="col-md-4 btn btn-primary" id="logbtn">LOGS</div>
                        </div>
                        
                    </div>
    
                    <div class="col-md-12" id="history">
                        <table class="table table-bordered">
                            <thead>
                                <th>Sender</th>
                                <th>Message</th>
                                <th>Date</th>
                                <th>Time</th>
                            </thead>
                            <tbody id="tbody">
        
                            </tbody>
                        </table>
                    </div>  
                    
                    <div class="col-md-12" id="logs" style="display: none;">
                        <table class="table table-bordered">
                            <thead>
                                <th>Log Type</th>
                                <th>Name</th>
                                <th>Message</th>
                                <th>Date & Time</th>
                            </thead>
                            <tbody id="tbodylog">
        
                            </tbody>
                        </table>
                    </div>  
                    
                </div>
                
                
            </div>
        </div>  
    </div>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="chat.js"></script>
</body>

</html>